name: CI Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: |
          ./build/word_counter_tests

      - name: Package main executable
        run: |
          mkdir -p artifacts
          cp build/word_counter artifacts/word_counter_linux

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifact
          path: artifacts/word_counter_linux

  build-windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: build\Release\word_counter_tests.exe

      - name: Package main executable
        run: |
          mkdir artifacts
          copy build\Release\word_counter.exe artifacts\word_counter_windows.exe

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifact
          path: artifacts/word_counter_windows.exe
